#weather_display_container {
  display: grid;
}

#choose_temp_measurement {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#choose_temp_measurement button {
  border: none;
  font-weight: bolder;
  background-color: white;
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

#choose_temp_measurement button:hover {
  border: none;
  background-color: teal;
  transition: 0.2s;
  font-weight: bolder;
  color: white;
}

#location_name {
  color: teal;
  margin-bottom: 10px;
}

#location_time {
  margin-bottom: 40px;
}

#current_weather_container {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

#astro {
  font-weight: bold;
  display: grid;
  gap: 10px;
}

#current_weather {
  display: grid;
  align-self: center;
  justify-self: center;
}

#weather_icon {
  height: 100px;
  margin-bottom: 20px;
}

#current_weather p {
  font-weight: bolder;
  font-size: 30px;
  color: teal;
}

#current_wind_humidity {
  display: grid;
  gap: 10px;
  font-weight: bold;
}

#forecast_days {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.forecast_button {
  width: 150px;
  height: 150px;
  border: none;
  font-weight: bolder;
  background-color: white;
}

.forecast_button:hover {
  width: 150px;
  height: 150px;
  border: none;
  font-weight: bolder;
  transition: 0.2s;
  background-color: teal;
}
#selected_day {
  font-weight: bold;
  margin-bottom: 20px;
}

#hours_carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23.5%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  padding: 10px;
  padding-bottom: 30px;
  border-radius: 0;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.535);
  width: 500px;
}

.hourly_weather {
  text-decoration: none;
  display: grid;
  padding: 20px;
  background-color: white;
}

.hourly_weather p {
  font-weight: bold;
}
